<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list-labels">
          <li>Email</li>
          <li>LinkedIn</li>
          <li>GitHub</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list-links">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>          
          <li><a href="{{ site.linkedin }}">Mark Sayson</a></li>
          <li>{% include icon-github.html username=site.github_username %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
