<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <dl class="contact-list">
          <dt>Email</dt>
          <dd><a href="mailto:{{ site.email }}">{{ site.email }}</a></dd>

          <dt>LinkedIn</dt>
          <dd><a href="{{ site.linkedin }}">Mark Sayson</a></dd>

          <dt>GitHub</dt>
          <dd>{% include icon-github.html username=site.github_username %}</dd>
        </dl>
      </div>

      <div class="footer-col footer-col-2">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
